@import "theme.css";

@import "layout.css";
@import "images.css";
@import "inputs.css";
@import "ripple.css";

@import "header.css";

@import "hello.css";
@import "languages.css";
@import "experience.css";
@import "tools.css";
@import "education.css";
@import "contacts.css";
@import "interests.css";
@import "buttons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
}
